Automatic_Workflow_&_Credentials_Backup_to_GitHub_with_Change_Detection.json
{
"name": "Automatic_Workflow_&_Credentials_Backup_to_GitHub_with_Change_Detection.json",
"nodes": [
  {
    "parameters": {
      "rule": {
        "interval": [
          {
            "field": "hours"
          }
        ]
      }
    },
    "id": "33dc9b18-dc04-4c04-a4aa-f9ef73c7891a",
    "name": "Schedule Trigger",
    "type": "n8n-nodes-base.scheduleTrigger",
    "position": [
      320,
      560
    ],
    "typeVersion": 1.2
  },
  {
    "parameters": {
      "workflowId": {
        "__rl": true,
        "value": "oPPE9PGDo3luYYry",
        "mode": "list",
        "cachedResultUrl": "/workflow/oPPE9PGDo3luYYry",
        "cachedResultName": "Automatic Workflow & Credentials Backup to GitHub with Change Detection"
      },
      "workflowInputs": {
        "mappingMode": "defineBelow",
        "value": {
          "filePath": "={{ $('Set Workflow Path').item.json.filePath }}"
        },
        "matchingColumns": [
          "filePath"
        ],
        "schema": [
          {
            "id": "filePath",
            "displayName": "filePath",
            "required": false,
            "defaultMatch": false,
            "display": true,
            "canBeUsedToMatch": true,
            "type": "string"
          }
        ],
        "attemptToConvertTypes": false,
        "convertFieldsToString": true
      },
      "options": {}
    },
    "id": "0a90eca3-c454-412a-bf0f-c59b55b55b34",
    "name": "Get New Workflow Hash",
    "type": "n8n-nodes-base.executeWorkflow",
    "position": [
      1200,
      464
    ],
    "typeVersion": 1.2,
    "alwaysOutputData": false
  },
  {
    "parameters": {
      "workflowId": {
        "__rl": true,
        "value": "oPPE9PGDo3luYYry",
        "mode": "list",
        "cachedResultUrl": "/workflow/oPPE9PGDo3luYYry",
        "cachedResultName": "Automatic Workflow & Credentials Backup to GitHub with Change Detection"
      },
      "workflowInputs": {
        "mappingMode": "defineBelow",
        "value": {
          "filePath": "={{ $json.filePath }}"
        },
        "matchingColumns": [
          "filePath"
        ],
        "schema": [
          {
            "id": "filePath",
            "displayName": "filePath",
            "required": false,
            "defaultMatch": false,
            "display": true,
            "canBeUsedToMatch": true,
            "type": "string"
          }
        ],
        "attemptToConvertTypes": false,
        "convertFieldsToString": true
      },
      "options": {}
    },
    "id": "af615fa4-aeda-4469-9ae3-243a1b83d860",
    "name": "Get Old Workflow Hash",
    "type": "n8n-nodes-base.executeWorkflow",
    "position": [
      768,
      464
    ],
    "typeVersion": 1.2,
    "alwaysOutputData": true,
    "onError": "continueRegularOutput"
  },
  {
    "parameters": {
      "fileSelector": "={{ $('Set Workflow Path').item.json.filePath }}",
      "options": {}
    },
    "id": "d26391d4-d83c-4e29-8db6-01494b766b05",
    "name": "Read Workflow Data",
    "type": "n8n-nodes-base.readWriteFile",
    "position": [
      1648,
      464
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "assignments": {
        "assignments": [
          {
            "id": "c60cce2a-609d-417e-a73c-9719a490cc85",
            "name": "filePath",
            "type": "string",
            "value": "/tmp/WorkFlowBackup.json"
          }
        ]
      },
      "options": {}
    },
    "id": "aee8710f-6380-4187-9968-6c6f11242234",
    "name": "Set Workflow Path",
    "type": "n8n-nodes-base.set",
    "position": [
      544,
      464
    ],
    "typeVersion": 3.4
  },
  {
    "parameters": {
      "command": "=n8n export:workflow --all --output={{ $('Set Workflow Path').item.json.filePath }}"
    },
    "id": "8a3abc60-e6e6-40de-bf78-e11824a2af78",
    "name": "Execute Workflow Backup",
    "type": "n8n-nodes-base.executeCommand",
    "position": [
      992,
      464
    ],
    "typeVersion": 1,
    "alwaysOutputData": true
  },
  {
    "parameters": {
      "fileSelector": "={{ $json.filePath }}",
      "options": {}
    },
    "id": "049e0c4e-91eb-4b90-8b7c-70641db16c7c",
    "name": "Read File",
    "type": "n8n-nodes-base.readWriteFile",
    "position": [
      544,
      192
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "operation": "text",
      "options": {}
    },
    "id": "de3a2b50-81fa-4605-9753-fecea85548be",
    "name": "Extract Data",
    "type": "n8n-nodes-base.extractFromFile",
    "position": [
      768,
      192
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "type": "SHA256",
      "value": "={{$json.data}}",
      "dataPropertyName": "hash"
    },
    "id": "0a770cb0-0cf3-4938-884b-92130c76e779",
    "name": "Hash Data",
    "type": "n8n-nodes-base.crypto",
    "position": [
      992,
      192
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "workflowInputs": {
        "values": [
          {
            "name": "filePath"
          }
        ]
      }
    },
    "id": "a89c7c20-04c5-4ef1-b355-1542e64f1b1d",
    "name": "Hash Maker",
    "type": "n8n-nodes-base.executeWorkflowTrigger",
    "position": [
      320,
      192
    ],
    "typeVersion": 1.1
  },
  {
    "parameters": {
      "operation": "text",
      "options": {}
    },
    "id": "8a4b1683-8d02-46f9-b1ad-9b4e003128cd",
    "name": "Extract Workflow Data",
    "type": "n8n-nodes-base.extractFromFile",
    "position": [
      1872,
      464
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "resource": "file",
      "owner": {
        "__rl": true,
        "value": "chriskevini",
        "mode": "name"
      },
      "repository": {
        "__rl": true,
        "value": "n8n-workflows",
        "mode": "name"
      },
      "filePath": "={{ \"backups/WorkFlow Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) + \".json\" }}",
      "fileContent": "={{ $json.data }}",
      "commitMessage": "={{ \"WorkFlow Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"
    },
    "id": "bb51fdc6-80d6-4c4d-97d3-48f8eed57072",
    "name": "GitHub Workflow Backup",
    "type": "n8n-nodes-base.github",
    "position": [
      2080,
      464
    ],
    "webhookId": "ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba",
    "typeVersion": 1.1,
    "credentials": {
      "githubApi": {
        "id": "7X361YY0VRF33SoM",
        "name": "GitHub account"
      }
    },
    "onError": "continueRegularOutput"
  },
  {
    "parameters": {
      "workflowId": {
        "__rl": true,
        "value": "oPPE9PGDo3luYYry",
        "mode": "list",
        "cachedResultUrl": "/workflow/oPPE9PGDo3luYYry",
        "cachedResultName": "Automatic Workflow & Credentials Backup to GitHub with Change Detection"
      },
      "workflowInputs": {
        "mappingMode": "defineBelow",
        "value": {
          "filePath": "={{ $('Set Credential Path').item.json.filePath }}"
        },
        "matchingColumns": [
          "filePath"
        ],
        "schema": [
          {
            "id": "filePath",
            "displayName": "filePath",
            "required": false,
            "defaultMatch": false,
            "display": true,
            "canBeUsedToMatch": true,
            "type": "string",
            "removed": false
          }
        ],
        "attemptToConvertTypes": false,
        "convertFieldsToString": true
      },
      "options": {}
    },
    "id": "2d86833a-4195-4216-9277-6f459c99a683",
    "name": "Get New Credential Hash",
    "type": "n8n-nodes-base.executeWorkflow",
    "position": [
      1200,
      656
    ],
    "typeVersion": 1.2,
    "alwaysOutputData": false
  },
  {
    "parameters": {
      "workflowId": {
        "__rl": true,
        "value": "oPPE9PGDo3luYYry",
        "mode": "list",
        "cachedResultUrl": "/workflow/oPPE9PGDo3luYYry",
        "cachedResultName": "Automatic Workflow & Credentials Backup to GitHub with Change Detection"
      },
      "workflowInputs": {
        "mappingMode": "defineBelow",
        "value": {
          "filePath": "={{ $json.filePath }}"
        },
        "matchingColumns": [
          "filePath"
        ],
        "schema": [
          {
            "id": "filePath",
            "displayName": "filePath",
            "required": false,
            "defaultMatch": false,
            "display": true,
            "canBeUsedToMatch": true,
            "type": "string",
            "removed": false
          }
        ],
        "attemptToConvertTypes": false,
        "convertFieldsToString": true
      },
      "options": {}
    },
    "id": "a250f948-06e4-4e3f-803c-d443758860a6",
    "name": "Get Old Credential Hash",
    "type": "n8n-nodes-base.executeWorkflow",
    "position": [
      768,
      656
    ],
    "typeVersion": 1.2,
    "alwaysOutputData": true,
    "onError": "continueRegularOutput"
  },
  {
    "parameters": {
      "fileSelector": "={{ $('Set Credential Path').item.json.filePath }}",
      "options": {}
    },
    "id": "e7af0244-65b2-43ff-80e9-d10b0cd077ab",
    "name": "Read Credential Data",
    "type": "n8n-nodes-base.readWriteFile",
    "position": [
      1648,
      656
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "assignments": {
        "assignments": [
          {
            "id": "c60cce2a-609d-417e-a73c-9719a490cc85",
            "name": "filePath",
            "type": "string",
            "value": "/tmp/CredentialBackup.json"
          }
        ]
      },
      "options": {}
    },
    "id": "954bed54-5de8-4338-b551-91220d990b50",
    "name": "Set Credential Path",
    "type": "n8n-nodes-base.set",
    "position": [
      544,
      656
    ],
    "typeVersion": 3.4
  },
  {
    "parameters": {
      "command": "=n8n export:credentials --all --output={{ $('Set Credential Path').item.json.filePath }}"
    },
    "id": "e030e444-f139-4282-8f95-700599729f60",
    "name": "Execute Credential Backup",
    "type": "n8n-nodes-base.executeCommand",
    "position": [
      992,
      656
    ],
    "typeVersion": 1,
    "alwaysOutputData": true
  },
  {
    "parameters": {
      "operation": "text",
      "options": {}
    },
    "id": "3cf74d08-1428-4d09-a21e-05f2014018ac",
    "name": "Extract Credential Data",
    "type": "n8n-nodes-base.extractFromFile",
    "position": [
      1872,
      656
    ],
    "typeVersion": 1
  },
  {
    "parameters": {
      "resource": "file",
      "owner": {
        "__rl": true,
        "value": "chriskevini",
        "mode": "name"
      },
      "repository": {
        "__rl": true,
        "mode": "name",
        "value": "n8n-workflows"
      },
      "filePath": "={{ \"backups/ Credential Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) + \".json\" }}",
      "fileContent": "={{ $json.data }}",
      "commitMessage": "={{ \" Credential Backup \" + new Date($today).toISOString().replace('T', ' ').slice(0, 16) }}"
    },
    "id": "d5ef38c9-b603-4bef-8c33-3e6add6c5d68",
    "name": "GitHub Credential Backup",
    "type": "n8n-nodes-base.github",
    "position": [
      2080,
      656
    ],
    "webhookId": "ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba",
    "typeVersion": 1.1,
    "credentials": {
      "githubApi": {
        "id": "7X361YY0VRF33SoM",
        "name": "GitHub account"
      }
    },
    "onError": "continueRegularOutput"
  },
  {
    "parameters": {
      "conditions": {
        "options": {
          "version": 2,
          "leftValue": "",
          "caseSensitive": true,
          "typeValidation": "strict"
        },
        "combinator": "and",
        "conditions": [
          {
            "id": "c028ce1d-3fe9-4dc9-a3e9-296460e12c83",
            "operator": {
              "type": "string",
              "operation": "notEquals"
            },
            "leftValue": "={{ $('Get New Workflow Hash').item.json.hash }}",
            "rightValue": "={{ $('Get Old Workflow Hash').item.json.hash }}"
          }
        ]
      },
      "options": {}
    },
    "id": "4d8c1643-d974-4674-87dd-636108ff4218",
    "name": "If Workflow Updated",
    "type": "n8n-nodes-base.if",
    "position": [
      1424,
      464
    ],
    "typeVersion": 2.2
  },
  {
    "parameters": {
      "conditions": {
        "options": {
          "version": 2,
          "leftValue": "",
          "caseSensitive": true,
          "typeValidation": "strict"
        },
        "combinator": "and",
        "conditions": [
          {
            "id": "c028ce1d-3fe9-4dc9-a3e9-296460e12c83",
            "operator": {
              "type": "string",
              "operation": "notEquals"
            },
            "leftValue": "={{ $('Get New Credential Hash').item.json.hash }}",
            "rightValue": "={{ $('Get Old Credential Hash').item.json.hash }}"
          }
        ]
      },
      "options": {}
    },
    "id": "652ce198-d615-4b97-939b-9d1743486e83",
    "name": "If Credential Updated",
    "type": "n8n-nodes-base.if",
    "position": [
      1424,
      656
    ],
    "typeVersion": 2.2
  }
],
"connections": {
  "Read File": {
    "main": [
      [
        {
          "node": "Extract Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Hash Maker": {
    "main": [
      [
        {
          "node": "Read File",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Extract Data": {
    "main": [
      [
        {
          "node": "Hash Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Schedule Trigger": {
    "main": [
      [
        {
          "node": "Set Workflow Path",
          "type": "main",
          "index": 0
        },
        {
          "node": "Set Credential Path",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Set Workflow Path": {
    "main": [
      [
        {
          "node": "Get Old Workflow Hash",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Read Workflow Data": {
    "main": [
      [
        {
          "node": "Extract Workflow Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "If Workflow Updated": {
    "main": [
      [
        {
          "node": "Read Workflow Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Set Credential Path": {
    "main": [
      [
        {
          "node": "Get Old Credential Hash",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Read Credential Data": {
    "main": [
      [
        {
          "node": "Extract Credential Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Extract Workflow Data": {
    "main": [
      [
        {
          "node": "GitHub Workflow Backup",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Get New Workflow Hash": {
    "main": [
      [
        {
          "node": "If Workflow Updated",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Get Old Workflow Hash": {
    "main": [
      [
        {
          "node": "Execute Workflow Backup",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "If Credential Updated": {
    "main": [
      [
        {
          "node": "Read Credential Data",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Execute Workflow Backup": {
    "main": [
      [
        {
          "node": "Get New Workflow Hash",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Extract Credential Data": {
    "main": [
      [
        {
          "node": "GitHub Credential Backup",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Get New Credential Hash": {
    "main": [
      [
        {
          "node": "If Credential Updated",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Get Old Credential Hash": {
    "main": [
      [
        {
          "node": "Execute Credential Backup",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Execute Credential Backup": {
    "main": [
      [
        {
          "node": "Get New Credential Hash",
          "type": "main",
          "index": 0
        }
      ]
    ]
  }
}
}