Safe_send_message_to_Discord_channel.json
{
"name": "Safe_send_message_to_Discord_channel.json",
"nodes": [
  {
    "parameters": {
      "workflowInputs": {
        "values": [
          {
            "name": "message"
          },
          {
            "name": "channel_id"
          }
        ]
      }
    },
    "id": "7d966265-7758-495c-941c-d8e23f16d3f5",
    "typeVersion": 1.1,
    "name": "Start",
    "type": "n8n-nodes-base.executeWorkflowTrigger",
    "position": [
      432,
      256
    ]
  },
  {
    "parameters": {
      "assignments": {
        "assignments": [
          {
            "id": "8201935a-1b47-4cd0-8f5e-7e53f9e1d186",
            "name": "message",
            "value": "={{ $json.message.length <= 2000 ? $json.message\n    : $json.message.slice(0, 1997) + \"...\" }}",
            "type": "string"
          }
        ]
      },
      "options": {}
    },
    "type": "n8n-nodes-base.set",
    "typeVersion": 3.4,
    "position": [
      656,
      256
    ],
    "id": "99f93394-3f10-4136-b97a-8e3b4242a046",
    "name": "Truncate message if over 2000 chars"
  },
  {
    "parameters": {
      "resource": "message",
      "guildId": {
        "__rl": true,
        "value": "754207117157859388",
        "mode": "list",
        "cachedResultName": "chris's server",
        "cachedResultUrl": "https://discord.com/channels/754207117157859388"
      },
      "channelId": {
        "__rl": true,
        "value": "={{ $('Start').item.json.channel_id }}",
        "mode": "id"
      },
      "content": "={{ $json.message }}",
      "options": {}
    },
    "type": "n8n-nodes-base.discord",
    "typeVersion": 2,
    "position": [
      896,
      256
    ],
    "id": "7be4992a-52c0-4275-a76a-67c3c14be6de",
    "name": "Send message",
    "webhookId": "b958a49d-6f38-4313-9600-0e5407afc902",
    "credentials": {
      "discordBotApi": {
        "id": "hvetTjtpeKFB1V0I",
        "name": "Discord Bot account"
      }
    }
  }
],
"connections": {
  "Start": {
    "main": [
      [
        {
          "node": "Truncate message if over 2000 chars",
          "type": "main",
          "index": 0
        }
      ]
    ]
  },
  "Truncate message if over 2000 chars": {
    "main": [
      [
        {
          "node": "Send message",
          "type": "main",
          "index": 0
        }
      ]
    ]
  }
}
}